/* MacPorts Ticket Guide Links */
.macports-ticket-guide {
    background: #fdc;
    border: 2px solid #d00;
    font-style: italic;
    margin: 1em 1em;
    padding: 1em 1em;
    text-align: center;
    font-size: 1.2em;
}
