<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">
  <!--!
    This file allows customizing the appearance of the Trac installation.
    Add your customizations here and rename the file to site.html. Note that
    it will take precedence over a global site.html placed in the directory
    specified by [inherit] templates_dir.

    More information about site appearance customization can be found here:

      http://trac.edgewall.org/wiki/TracInterfaceCustomization#SiteAppearance
  -->

    <head py:match="head" py:attrs="select('@*')">
        ${select('*|comment()|text()')}
        <link rel="stylesheet" href="${href.chrome('site/style.css')}" />
    </head>

    <form py:match="div[@id='content' and @class='ticket']/form" py:attrs="select('@*')">
        <py:if test="req.path_info == '/newticket' and (not 'preview' in req.args)">
        <div class="macports-ticket-guide">
            Please read the
            <a href="http://guide.macports.org/#project.tickets">Ticket Guidelines</a>
            before submitting!
        </div>
        </py:if>
        ${select('*')}
    </form>

    <py:if test="req.path_info == '/newticket' or req.path_info.startswith('/ticket')">
        <label py:match="label[@for='field-keywords']" py:attrs="select('@*')">
            <a href="/wiki/TicketsKeywordGuidelines" rel="noopener" target="_blank">
                ${select('*|comment()|text()')}
            </a>
        </label>
    </py:if>

    <div id="footer" py:match="//div[@id='footer']" py:strip="True">
      <div id="footer">
      </div>
    </div>

</html>
