# Add this section to .git/config when configuring hooks

[multimailhook]
	administrator = admin@macports.org
	mailingList = macports-changes@lists.macosforge.org
	replyTo = macports-dev@lists.macosforge.org
	from = pusher
	commitBrowseURL = https://github.com/macports/%(repo_shortname)s/commit/%(id)s
	commitEmailFormat = html
